<!DOCTYPE html>
<html>
<link>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OctoShelf</title>
    <link rel="stylesheet" type="text/css" href="./styles/octicons.css"></link>
    <link rel="stylesheet" type="text/css" href="./styles/style.css"></link>
</head>
<body>
    <main id="app" class="app">
        <section id="addSection" class="app-prompt">
            <form id="addRepoForm" class="bubble">
                <h1>OctoShelf</h1>
                <input type="text" id="addRepoInput" class="addRepoInput" placeholder="Add Repo" />
                <div>
                    <a href="#" id="syncAll" class="octicon octicon-sync"></a>
                    <a href="<%= githubAuthUrl %>" id="authStatus" class="octicon octicon-issue-reopened"></a>
                </div>
            </form>
        </section>
        <section id="repoSection" class="app-repositories"></section>
        <section id="notifications" class="notifications"></section>
        <div class="infoPanel">
            <a href="https://github.com/TheIronDeveloper/octoshelf" class="octicon octicon-mark-github"></a>
        </div>
    </main>
    <script src="./scripts/octoshelf.js"></script>
    <script>
        OctoShelf({
            initAccessToken: '<%= accessToken %>',
            initApiUrl: '<%= apiUrl %>',
            initGithubUrl: '<%= githubUrl %>'
        });
    </script>
</body>
</html>