* {
    box-sizing: border-box;
}

html {background: #EFFEFF}
html, body, main {height: 100%;padding: 0;margin: 0}
h1 {color: #fff;display: inline;font-size: 1rem;margin: 0;vertical-align: middle;}
a{ color: #fff}

.app {font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;}
.prList {margin: 0;padding: 0}
.prListItem {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    text-align: center;

    height: 27px;
    width: 27px;
}
.prLink {color: #000;padding: 5px;position: relative;vertical-align: middle}
.prLink:visited {color: #c0c}
.prMoreInfo {
    background: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #666;
    display: none;
    padding: 0 5px 5px;
    text-align: left;
    width: 200px;
    position: absolute;
    left: -90px;
    top: 1.5em;
    z-index: 1;
}
.prMoreInfo:before {
    display: block;
    content: ' ';
    border-top: px;
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
    height: 0;
    margin: 0 auto;
    position: relative;
    top: -5px;
}
.prListItem:hover .prMoreInfo {display: inline}
.repo-title {display: inline-block;text-overflow: ellipsis;width: 150px;overflow: hidden}
.action {vertical-align: text-top;margin: 5px}

/* Magical overrides */
.prList.lotsOfPRs .prListItem {height: 15px;width: 15px;margin: 1px;}
.prList.lotsOfPRs .prLink {font-size: 0.5em;padding:0;top: -3px}
.prList.lotsOfPRs .prMoreInfo{left: -97px;}

.tokenNeeded-anchor {}
.tokenNeeded-content {
    background: rgba(0,0,0,0.8);
    line-height: 1.2rem;
    height: 0;
    width: 300px;
    padding: 0;
    overflow: hidden;
    transition: all .5s ease;
    position: absolute;
}
.tokenNeeded-anchor:hover .tokenNeeded-content {
    padding: 1rem;
    height: 6rem;
}

.addRepoInput {
    border-radius: 20px;
    padding: 5px;
    margin: 0.5rem 1rem;
}

.app {
    width: 100%;
    position: relative;
}
.app-prompt,
.app-repositories{text-align: center}
.app-prompt {position: absolute;top: 0;left: 0;z-index: 1}
.bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all .5s ease;

    position: absolute;
    top: 0;
    left: 0;

    background: #333;
    border: 1px solid #000;
    border-radius: 50%;
    color: #fff;
}
.repository {transform: rotate(0deg) translateY(-250px);box-shadow: 3px 2px 2px #ccc}
.repository.loading {opacity: 0.2}
.repository:after {
    content: ' ';
    display: block;
    background: #333;
    box-shadow: 3px 2px 2px #ccc;
    width: 5px;
    margin: -1px auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -2;
}
.repositoryInner {
    display: flex;
    border-radius: 50%;
    height: 100%;

    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
}

.notifications {
    background: rgba(255,255,255,.95);
    position: absolute;
    top: 5px;
    left: 5px;
    z-index:1;
}
.notification {
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 200px;
    padding: 1rem;
    margin: 5px;
    transition: all .5s ease;
    opacity: 1
}
.notification.fadeOut {opacity: 0}

.infoPanel {background: #333;color:#fff;padding: 1rem;position: absolute; bottom: 0; right: 0;}
.infoPanel .octicon {vertical-align: middle}
.infoPanel-actions {border-left: 1px solid #fff;padding-left: 0.5rem;margin-left: 0.5rem;}

.moreInfo-wrapper {
    cursor: pointer;
    position: relative;
}
.moreInfo-content {
    background: rgba(255,255,255,0.8);
    border: 1px solid #333;
    border-radius: 50% 50% 0 50%;
    color: #333;
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom:1.5rem;
    right: 1.5rem;
    transition: all .5s ease;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.moreInfo-wrapper:focus + .moreInfo-content {

    z-index: 999;
    padding: 2rem;
    height: 300px;
    width: 300px;
}
.moreinfo-githubLink {color: #333;vertical-align: middle;align-self: flex-end;font-size:2rem;}

.refreshRate_wrapper {
    cursor: pointer;
    position: relative;
}
.refreshRate_icon {transition: all .5s ease;}
.refreshRate_moreInfo {
    background: #fff;
    color: #333;
    width: 120px;
    height: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom: 1rem;
    right: -1rem;
    transition: all .5s ease;
}
.refreshRate_wrapper:hover .refreshRate_moreInfo {height: 120px;padding: 0.5rem;border: 1px solid #333;}
.refreshRate_options {list-style: none;padding: 0;margin: 0}
.refreshRate_option {cursor: pointer;display:block;position: relative;}
.refreshRate_input {position: absolute;top: 3px;left: 3px;}
.refreshRate_inputDisplay {display: inline-block;width: 100%;padding: 5px 0 5px 1.5rem;}
.refreshRate_input:checked + .refreshRate_inputDisplay {background: #3F51B5;color: #fff;}

@media (max-width: 600px) {
    .app {padding: 0.5rem;}
    .app-prompt {position: unset}
    .bubble.bubble {
        position: static;
        transform: none !important;
        width: 100% !important;
        text-align: left;
        border: 0;
        height: unset;
        margin-bottom: 1rem;
        border-radius: 0;
        padding: 1rem;
    }
    .bubble.bubble .repositoryInner {transform: none !important;}
    .repo-title {margin-right: 1rem;width: inherit;}
    .repository:after {display: none;}
    .addRepoInput {margin: 0.5rem 0}
    .action {margin: 0 10px 0 0}

    .tokenNeeded-anchor:hover .tokenNeeded-content {left: 0;width: 100%;height: unset;}
    .moreInfo-wrapper:focus + .moreInfo-content {
        width: 100%;
        border-radius: 0;
        right: 0;
        bottom: 3em;
    }
}
