* {
    box-sizing: border-box;
}

html {}
html, body {height: 100%;padding: 0;margin: 0}
main {min-height: 100%;padding: 0;margin: 0}
body {
    background: url('/images/background-blurred.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    min-height: 100%;
}
h1 {color: #fff;display: inline;font-size: 1.5rem;margin: 0;}
p {margin: 0 0 1rem}
a{ color: #fff}


.octoshelf-icon {
    height: 20px;
    margin: 0 auto;
}

.prList {margin: 0;padding: 0}
.prListItem {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    text-align: center;
    transition: all 3s ease;

    height: 27px;
    width: 27px;
}
.prListItem.newPullRequest {background: yellow}
.prLink {color: #000;padding: 5px;position: relative;vertical-align: middle}
.prLink:visited {color: #c0c}
.prMoreInfo {
    background: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #666;
    display: none;
    padding: 0 5px 5px;
    text-align: left;
    width: 200px;
    position: absolute;
    left: -90px;
    top: 1.5em;
    z-index: 1;
}
.prMoreInfo:before {
    display: block;
    content: ' ';
    border-top: px;
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
    height: 0;
    margin: 0 auto;
    position: relative;
    top: -5px;
}
.prListItem:hover .prMoreInfo {display: inline}
.repo-title {display: inline-block;text-overflow: ellipsis;width: 150px;overflow: hidden}
.action {vertical-align: text-top;margin: 5px}
.action:hover {text-shadow: 0 0 10px #fff}

/* Magical overrides */
.prList.lotsOfPRs .prListItem {height: 15px;width: 15px;margin: 1px;}
.prList.lotsOfPRs .prLink {font-size: 0.5em;padding:0;top: -3px}
.prList.lotsOfPRs .prMoreInfo{left: -97px;}

.tokenNeeded-anchor {}
.tokenNeeded-content {
    background: rgba(0,0,0,0.8);
    line-height: 1.2rem;
    height: 0;
    width: 300px;
    padding: 0;
    overflow: hidden;
    transition: all .5s ease;
    position: absolute;
}
.tokenNeeded-anchor:hover .tokenNeeded-content {
    padding: 1rem;
    height: 6rem;
}

.addRepoInput {
    border-radius: 20px;
    padding: 5px;
    margin: 0.5rem 1rem;
}

.app {
    width: 100%;
    position: relative;
}
.app-prompt,
.app-repositories{text-align: center}
.app-prompt {position: absolute;top: 0;left: 0;z-index: 1}
.app-background {
    background-attachment: fixed;
    background-size: cover;
    transition: all 1s ease;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.app-background.loaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.addRepoInput-wrapper {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    display: inline-block;
    margin: 0.5rem;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}
.addRepoInput-prefix {padding: 5px 5px 5px 2px;text-decoration: underline;font-weight: bold;color: #555;background: #eee}
.addRepoInput-input {border: 1px dashed #ccc;height: 1.5rem;padding: 5px;width: 100%}

.bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all .5s ease;

    position: absolute;
    top: 0;
    left: 0;

    background: #333;
    border: 1px solid #aaa;
    border-radius: 50%;
    box-shadow: 0 0px 52px #ccc;
    color: #fff;
}
.app-repositoriesWrapper {position: absolute}
.app-repositories {position: relative}
.repository {transform: rotate(0deg) translateY(-300px);}
.repository.loading {opacity: 0.2}
.repository:after {
    content: ' ';
    display: block;
    background: #333;
    box-shadow: 2px 2px 2px #ccc;
    height: 0;
    width: 5px;
    margin: -1px auto;
    transition: all .5s ease;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -2;
}
.repositoryInner {
    display: flex;
    border-radius: 50%;
    height: 100%;

    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
}

.notifications {
    background: rgba(255,255,255,.95);
    position: absolute;
    top: 5px;
    left: 5px;
    z-index:1;
}
.notification {
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 200px;
    padding: 1rem;
    margin: 5px;
    transition: all .5s ease;
    opacity: 1
}
.notification.fadeOut {opacity: 0}

.infoPanel {
    background: #333;
    border-top:1px solid #ccc;
    color:#fff;
    width:100%;
    padding: 0 1rem;
    position: relative;
    margin-top: -60px;
    text-align: left;
}
.infoPanel-topPanel {padding: 1rem 0;}
.infoPanel .octicon {vertical-align: middle}
.infoPanel-actions {border-left: 1px solid #fff;padding-left: 0.5rem;margin-left: 0.5rem;position: relative}
.infoPanel-action {font-size: 1.2em;margin-left: 1rem;}


.share-content {
    background: #fff;
    color: #333;
    position: absolute;
    height: 0;
    width: 300px;
    right: 0;
    bottom: 3rem;
    font-size: 0.5rem;
    padding: 0;
    overflow: hidden;
    transition: all .5s ease;
}
.share-content.toggle {
    padding: 0.5rem;
    height: 4rem;
}
.share-urlInput {
    resize: none;
    width: 100%;
}

.infoPanel-description,
.infoPanel-example {
    background: rgba(255,255,255,0.9);
    color: #333;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all .5s ease;
}
.infoPanel-description {text-align: center;}
.infoPanel-description a {color: #333;}
.infoPanel-exampleCode,
.infoPanel-exampleCode-noHeader {
    border: 1px solid #ccc;
    background: #fff;
    padding: 1rem 0;
    overflow: scroll;
}
.infoPanel-exampleCode-header {
    margin: 0 1rem;
}
.infoPanel-exampleCode-noHeader {
    padding: 2rem 0 1rem;
}
.highlight {background: rgba(255,255,0,0.5);padding: 0.5rem;display: inline-block}
.octoshelf-transparent {
    background: url('/images/octoshelf-link.png') #333 no-repeat;
    background-size: 75px;
    background-position: center center;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    padding: 0.5rem;
}
.octoshelf-transparent:hover {
    background-image: url(/images/octoshelf-link-hover.png)
}
.moreinfo-githubLink {color: #333;}

.refreshRate-toggle {transition: all .5s ease;}
.refreshRate-toggle.hasRefreshed {color: #61FF61;transform: scale(4);}
.refreshRate_moreInfo {
    background: #fff;
    color: #333;
    width: 300px;
    height: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom: 3rem;
    right: 0;
    transition: all .5s ease;
}
.refreshRate_moreInfo.toggle {height: 120px;padding: 0.5rem;border: 1px solid #333;}
.refreshRate_options {list-style: none;padding: 0;margin: 0}
.refreshRate_option {cursor: pointer;display:block;position: relative;}
.refreshRate_input {position: absolute;top: 3px;left: 3px;}
.refreshRate_inputDisplay {display: inline-block;width: 100%;padding: 5px 0 5px 1.5rem;}
.refreshRate_input:checked + .refreshRate_inputDisplay {background: #3F51B5;color: #fff;}

/* Inline Experience */
.octoInline {padding: 0.5rem;}
.octoInline .app-prompt,
.octoInline .app-repositoriesWrapper,
.octoInline .app-repositories {position: unset; display: block;height: unset !important; width: 100% !important;margin-bottom: 1rem;}
.octoInline .bubble {
    position: static;
    transform: none !important;
    width: 100% !important;
    text-align: left;
    border: 0;
    box-shadow: none;
    height: unset;
    margin-bottom: 1rem;
    border-radius: 0;
    padding: 1rem;
}
.octoInline .bubble .repositoryInner {transform: none !important;height: initial;}
.octoInline .repo-title {margin-right: 1rem;width: inherit;}
.octoInline .repository:after {display: none;}

@media (max-width: 700px) {
    .infoPanel {padding:  1rem 0.5rem}
    .tagline-githubPowered {display: none}
    .infoPanel-steps {padding-left: 0.5rem;}
    .infoPanel-action {margin-left: 0.5rem;}
    .tokenNeeded-anchor:hover .tokenNeeded-content {left: 0;width: 100%;height: unset;}
}

@media (max-width: 550px) {
    .infoPanel {margin-top: 0}
    .tagline {display: none}
}

@media (max-width: 400px) {
    .infoPanel-action {margin-left: 5px;}
}
