* {
    box-sizing: border-box;
}

html {background: #FFFCEF}
html, body, main {height: 100%;padding: 0;margin: 0}

.prList {margin: 0;padding: 0}
.prListItem {
    background: #000;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    text-align: center;

    height: 27px;
    width: 27px;
}
.prLink {color: #0f0;padding: 5px;position: relative}
.prLink:visited {color: #c0c}
.prMoreInfo {
    background: rgba(0,0,0,0.5);
    color: #efefef;
    display: none;
    padding: 5px;

    position: absolute;
    left: 0.5em;
    top: 1em;
    width: 200px;
}
.prListItem:hover .prMoreInfo {display: inline}